header > img {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

input {
    color: #105718;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #105718;
}

main {
    min-height: 65vh;
}

main > img {
    width: 100%;
}

section {
    width: 100%;
    min-height: 40vh;
    overflow: hidden;
    position: relative;
}

section > img {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer span {
    font-size: 13px;
}

footer a:hover {
    color: orange !important;
}